.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -49%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 400px;
    max-width: 200%;
    min-width:100%;
    border-radius:8px; 
    opacity: 1; /* Set initial opacity to 1 (fully visible) */
    transition: opacity 1s ease-in-out; /* Add a transition for opacity */
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border:none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius:50%;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .name-inputs {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .close-button:hover {
    border-radius:20px;
    background-color: whitesmoke;
    width:30px;
    height:30px;
  }
  
  .custom-input {
    background-color: #fffefe;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
  }
  @font-face {
    font-family: 'Klavika Bold';
    src: url('../public/klavika-bold.otf') format('truetype');
    /* Add more font formats if available */
    font-weight: normal;
    font-style: normal;
  }
  .gray-text{
    color:gray;
  }
