.interests-popup{
  width:600px;
  height: calc(720px + var(--height-increase));
}

.interests-popup.error{
  --height-increase: 20px; 
}

/* Style the custom checkbox label */
.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Klavika';
  font-size: 17px;
  outline:none;
  border:none;
  width:25px;
  height:25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Change background color on hover */
.custom-checkbox:hover {
  background-color: whitesmoke;
}

.custom-checkbox input {
  width: 20px; /* Adjust the width as needed */
  height: 20px; /* Adjust the height as needed */
}

