.whats-on-your-mind-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
    z-index: 1000;
    width: 500px;
    height: calc(510px + var(--height-increase));
    border-radius: 8px;
    max-width: 120%; 
    opacity: 1; /* Set initial opacity to 1 (fully visible) */
    transition: opacity 1s ease-in-out; /* Add a transition for opacity */
  }

  .whats-on-your-mind-popup.openModal{
    display:none;
  }

  .whats-on-your-mind-popup.fileSelected{
    --height-increase: 125px; 
    overflow-y:auto;
  }

  .input-field{
    margin-top:10px;
  }
  
  .input-field textarea{
    outline: none !important;
    border:1px solid white;
    border-radius:0%;
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    background-color:white;
    cursor: inherit;
}
.input-field textarea:focus{
    outline-color: transparent;
    box-shadow: none !important;
    border: white !important;
}

.selected-media-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent media items from wrapping to the next line */
  margin-bottom: 10px; /* Add margin for spacing */
}

.selected-media-item {
  max-width: 460px; /* Set a maximum width for media items */
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  margin-left:5px;
  margin-right: 5px; /* Add margin for spacing between items */
  display: inline-block; /* Ensure media items stay in one line */
  vertical-align: top; /* Align media items at the top */
  position: relative; /* Enable relative positioning */
}

/* Adjust button position */
.file-close-button {
  position: absolute;
  top: 5px; /* Adjust the top position as needed */
  right: 5px; /* Adjust the right position as needed */
  background: white;
  width:30px;
  height:30px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.20);
  border-radius: 50%;
}

.file-close-button:hover{
  width:30px;
  height:30px;
  background-color:whitesmoke;
}

.add-to-post{
  display:flex;
  width:460px;
  height:55px;
  border-radius:7px;
  border:1px solid lightgray;
  box-shadow: 0px 0px 10px rgba(170, 165, 165, 0.05);
}

.photo-button{
  margin-left:50px;
  border-radius:50%;
}

.photo-button:hover{
  background-color: whitesmoke;
}

.tooltip-btn{
  position:relative;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
  top: -26px; /* Adjust this value to control the distance between the icon and tooltip */
  left:50%;
  transform: translateX(-50%);
  opacity: 0;
  box-shadow: 0px 2px 4px rgba(4, 1, 1, 0.839);
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-btn:hover .tooltip{
  opacity: 1;
}

.feeling-button{
  border-radius:50%;
}

.feeling-button:hover{
  background-color: whitesmoke;
}

.location-button{
  border-radius:50%;
}

.location-button:hover{
  background-color: whitesmoke;
}
.gif-button{
  border-radius:50%;
}

.gif-button:hover{
  background-color: whitesmoke;
}

.post-button button{
  cursor:pointer;
  font-weight: bold;
}
.post-button button[disabled] {
  outline:none !important;
  border: none !important;
  background-color: lightgray;
  color: gray;
  font-weight: bold;
}

.searchLocationPopup{
  position: relative;
  top: -16px;
  left: 60%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  z-index: 1000;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  max-width: 120%; 
}

.autocomplete-container {
  position: relative;
  margin-top: 20px;
}

.autocomplete-results {
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  top: calc(100% + 10px); /* Adjust the spacing between input and results */
  left: 0;
  width: inherit;
  max-height: 350px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.autocomplete-item {
  padding: 8px;
  cursor: pointer;
}

.autocomplete-item:hover {
  background-color: #f0f0f0;
}

.marker{
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #FF0000;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
  .marker:after{
    content: '';
    width: 14px;
    height: 14px;
    margin: 8px 0 0 8px;
    background: #030000;
    position: absolute;
    border-radius: 50%;
}

.pulse{
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after{
    content: "";
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: absolute;
    margin: -13px 0 0 -13px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
    box-shadow: 0 0 1px 2px #fd0202;
    animation-delay: 1.1s;
}
@keyframes pulsate{
  0%{
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50%{
    opacity: 1.0;
  }
  100%{
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@keyframes bounce{
  0%{
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg)}
  60%{
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);}
  80%{
    transform: translateY(-10px) rotate(-45deg);}
  100%{
    transform: translateY(0) rotate(-45deg);}
}  

.mapPopup{
  position: relative;
  top: -16px;
  left: 60%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  z-index: 1000;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  max-width: 120%; 
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  flex: 1;
  padding-right: 40px; /* Adjust this value to control the space for the button */
}

.input-container button {
  position: absolute;
  top: 0;
  right: 0;
}
